<%- include('./partials/header.ejs') %>

    <body style="background-color: rgb(224, 218, 229);">
        <form action="/notes/add" method="POST">
        
            <div class="shadow-lg"
                style="margin-left: 20%; margin-top: 4%; margin-right: 20; width: 57%; background-color: white">
                <div style="background-color: rgb(224, 218, 229); width: 100%;display: flex;justify-content: space-between;">
                    <input type="text" id="title" style="margin-bottom: 10px; width: 92%;height: 40px;" placeholder="Title"
                        name="title" />
                    <button class="btn" type="submit" id="save"
                        style="margin-bottom: 10px;background-color: rgb(168, 107, 183);color: aliceblue;margin-bottom: 10px;">Save</button>
                </div>

                <div id="editor" name="content" style="height: 70vh; border: 0.3px solid grey;">
                    <p>Hello World!</p>
                    <p>Create your <strong>notes</strong> here</p>
                    <p><br /></p>
                </div>
                <input type="hidden" id="noteId" name="noteId" value="<%= noteId %>">
            </div>
        </form>

        <!-- Include the Quill library -->
        <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>

        <!-- Initialize Quill editor -->
        <script>
            const quill = new Quill("#editor", {
                theme: "snow",
            });

                    // document.getElementById('save').addEventListener('click', async () => {
                    //     const title = document.getElementById('title').value;
                    //     const content = quill.getContents();
                    //     const noteId = document.getElementById('noteId').value;

                    //     const noteData = {
                    //         title, content, id: noteId
                    //     }
                    //     let response;
                    //     try {
                    //         if (noteId == 0) {
                    //             //new note
                    //             response = await fetch(`/notes/add`, {
                    //                 method: 'POST',
                    //                 headers: { 'Content-Type': 'application/json' },
                    //                 body: JSON.stringify(noteData)
                    //             });
                    //         }
                    //         else {
                    //             //update note
                    //             response = await fetch(`/notes/update/${noteId}`, {
                    //                 method: 'PUT',
                    //                 headers: { 'Content-Type': 'application/json' },
                    //                 body: JSON.stringify(noteData)
                    //             });
                    //         }
                    //     } catch (error) {
                    //         console.log(error);

                    //     }
                    // })
        </script>
    </body>

    <%- include('./partials/footer.ejs') %>